{% extends "adoption/layout.html" %}

{% block content %}
<h1>About the shelter</h1>
<p id="about">
  Doggo Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi eaque nihil qui quas assumenda aut non nam
  earum! Iure non minima quasi qui illum soluta aliquam ab eum similique eligendi? Vel cumque ad possimus voluptatem
  provident, voluptates totam ducimus cupiditate voluptatibus minima, aut sunt obcaecati nam, nobis tempore! Ducimus
  laborum ipsa deleniti consectetur nam magnam, perferendis ullam vel ab quidem. Aliquid, ea? Non culpa placeat, ipsam
  deleniti quisquam quibusdam quod voluptatem laboriosam nihil odio labore, quasi aliquid temporibus optio qui sunt
  ducimus dolor illum. Quam laboriosam perspiciatis minus ipsam rem nobis omnis dolore. Ratione debitis, sint dolores
  dolorem quaerat quae tenetur eligendi sed tempore temporibus ullam. Ipsa reiciendis sit expedita nostrum cupiditate
  rerum quas veniam nulla aperiam? Modi dolorem ipsa, consectetur placeat corrupti veritatis deserunt doloremque
  aspernatur. Aspernatur quam ut asperiores labore id. Consequatur aliquid distinctio fuga hic adipisci reprehenderit
  doloremque eum. Laboriosam dolore eveniet ipsum, alias optio eius ea.
</p>
{% endblock %}
